#selectConvertList {
    width: 40%;
    margin-bottom: 10px;
}

#content {
    display: flex;
}

#mainInputDiv {
    width: 40%;
    border-radius: none;
    margin-right: 5px;
}

#mainInput {
    height: 60px;
    border-radius: 0%;
}

#convertedList {
    width: 20%;
}

.convertedResult {
    border: 1px solid #ced4da;
}